# .htaccess – nằm trong htdocs/onlinecourse/.htaccess
RewriteEngine On
RewriteBase /CongNgheWeb_OnlineCourse/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]